/* ---- CSS RESET-----*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    
}

    h1{
        top: 35%;
        position:relative;
    font-size: 4em;
margin-left:10%;
        margin-right:40%;
        line-height: 75px;
        color: #003da5;
}

h2{
    color: #003da5;
    font-size: 3em;
top: 125px;
position:relative;
    margin-left:10%;
    margin-right:30%;
    line-height: 30px;
}

h3{
    
    font-size: 1.5em;
top: 275px;
position:relative;
    margin-left:10%;
    margin-right:30%;
    line-height: 30px;
}

h4{
    
    font-size: 1.75em;
margin: 0 auto;
    top: 15px;
position:relative;

    line-height: 30px;
}

h4.workbox{
    
        font-size: 1.75em;
margin: 0 auto;
    margin-left: 5%;
    top: 15px;
position:relative;

    line-height: 30px;
    
    
    
}

h5{
    
    font-size: 1.5em;
margin: 0 auto;
    top: 15px;
    text-align: center;
position:relative;

    line-height: 30px;
}

p{
    font-size: 1.25em;
    padding-top: 50px;
    line-height: 25px;
}

p.workbox{
    
    font-size: 1.25em;
    padding-top: 50px;
    line-height: 25px;
    margin-left: 5%;
}

p.footer{
    
    font-size: 1.25em;
margin-bottom: 25px;
    margin-left: 5%;
}

p.footer{
    font-size: 1.25em;

}